<section class="text-center mt-5">
  <div class="container pt-5">
    <h1 class="d-inline text-success">Success!</h1>
    <img src="https://images.emojiterra.com/google/android-nougat/512px/1f389.png" alt="celebrateIcon" style="width: 3rem; " class="img-fluid ms-3">
    <p class="mt-5">Thank you, <span class="fw-bold">{{cartService.clientName.value}}</span>!</p>
    <p>Your <span class="fw-bold">{{cartService.totalPrice | currency}}</span> order is confirmed!</p>
    <p>Please allow 1-3 business day(s) for shipping.</p>
  </div>
</section>
