<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-10 col-sm-1 text-center m-auto">
          <div class="four_zero_four_bg">
            <h1 class="text-center">404</h1>
          </div>

          <div class="contant_box_404">
            <h3 class="h2">Look like you're lost</h3>

            <p>the page you are looking for not avaible!</p>
            <button
              type="button"
              class="btn text-white px-4 py-2"
              style="border-radius: 35px; background-color: #33b5e5"
              routerLink="/products"
            >
              Go to Products
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
